<h1>Restaurar contraseña</h1>

<form action="/api/session/restore-password" method="post">
    <label for="">Email: </label><input type="text" name="email"> <br><br>
    <label for="">Contraseña: </label><input type="password" name="password"> <br><br>
    <button type="submit">Recuperar contraseña</button>
</form>